<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true" name="Minestom">
    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="[%t] [%d{HH:mm:ss}] - %p - %m%n"/>
        </Appender>
        <Appender type="Console" name="STDOUT-WithCaller">
            <Layout type="PatternLayout" pattern="[%t] [%d{HH:mm:ss}] (%C{1}.%M) - %p - %m%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT-WithCaller" level="info"/>
        </Root>
    </Loggers>
</Configuration>